*{
    margin: 0;
    padding: 0;
}


.container{
    background: url(coolbeige.jpg);
    background-size: cover;
    height: 100vh;
}

.container .navbar{
    width: 100%;
    height: 90px;
    background: rgba(70, 17, 59, 0.349);
}

.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 50px;
    font-family:'Gill Sans';
    color:rgb(52, 6, 94);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    line-height: 80px; 
}

.navbar ul li a{
    color:rgb(52, 6, 94);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Playfair Display', serif;
}